pyelftools>=0.26
PyYAML>=5.1
pykwalify
canopen
packaging
progress
psutil
pylink-square
anytree
intelhex
west>=1.0.0
windows-curses; sys_platform == "win32"
colorama
ply>=3.10
gcovr>=4.2
coverage
pytest
mypy
mock>=4.0.1
python-magic
junitparser<2
pylint
breathe>=4.30,<4.33 # 4.33: disabled due to #803 and #805 issues
sphinx~=4.0
sphinx_rtd_theme~=1.0
sphinx-tabs
sphinxcontrib-svg2pdfconverter
pygments>=2.9
sphinx-notfound-page
sphinx-copybutton
PyYAML>=5.1
pykwalify
anytree
gitlint
junit2html
lpc_checksum
Pillow
imgtool>=1.7.1
protobuf
PyGithub
pyserial
https://cdn.iflyos.cn/public/lisa-binary/pyocd/pyocd-0.34.2.dev20-py3-none-any.whl
enquiries
tabulate
cbor>=1.0.0
psutil
wheel
setuptools>=30.3.0
setuptools_scm>=3.3.1
